.search-menu{
    @apply cursor-pointer absolute bg-[#F4F0E5] rounded-lg p-2 top-full z-50 w-full;
    border: 1px solid black;
}

.search-nav-menu{
    @apply flex;
    border-top: 1px solid black;
}

.book-item{
    @apply text-black;
    transition: all 0.2s;
}

.book-item:hover{
    @apply text-[#FF642E];
}