.book-of-the-week {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px; /* Збільшено на 20% */
    margin: 50px 0; /* Збільшено на 20% */
    padding: 24px; 
  }
  
  .book-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14.4px; /* Збільшено на 20% */
    padding: 24px; /* Збільшено на 20% */
    height: 480px; /* Збільшено на 20% */
  }
  
  .book-image-container {
    flex: 0 0 561.6px; /* Збільшено на 20% */
    border: 1px solid #1A1D23; /* Збільшено на 20% */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40.8px; /* Збільшено на 20% */
  }
  
  .book-image-container img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 9.6px; /* Збільшено на 20% */
  }
  
  .book-info-container {
    flex: 0 0 1008px; /* Збільшено на 20% */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Вирівнювання по лівому краю */
    background-color: #1e1e1e;
    color: #fff;
    padding: 48px; /* Збільшено на 20% */
    border-radius: 40.8px; /* Збільшено на 20% */
  }
  
  .book-info-container .book-title {
    font-size: 48px; /* Збільшено на 20% */
    font-weight: 700;
    margin-bottom: 24px; /* Збільшено на 20% */
  }
  
  .book-info-container .book-author {
    font-size: 36px; /* Збільшено на 20% */
    font-weight: 400;
    margin-bottom: 32px; /* Збільшено на 20% */
    color: #b3b3b3;
  }
  
  .book-info-container .book-price {
    font-size: 48px; /* Збільшено на 20% */
    font-weight: 700;
    color: #ff642e;
    margin-bottom: 32px; /* Збільшено на 20% */
  }
  
  .book-info-container .actions {
    display: flex;
    gap: 24px; /* Збільшено на 20% */
  }
  
  .order-button {
    background-color: #ff642e;
    color: #1e1e1e;
    padding: 14px 48px; /* Збільшено на 20% */
    border: none;
    border-radius: 50px; /* Збільшено на 20% */
    font-size: 28px; /* Збільшено на 20% */
    font-weight: 700;
    cursor: pointer;
    display: flex; /* Додаємо flex для вирівнювання іконки та тексту */
    align-items: center; /* Вирівнюємо іконку та текст по вертикалі */
    gap: 10px; 
  }
  
  .order-button:hover {
    background-color: #e05528;
  }

  .cart-icon {
    width: 40px;     
    height: 39px;
  }
  
  .favorite-button {
    background-color: transparent;
    color: #ff642e;
    border: 2.4px solid #ff642e; /* Збільшено на 20% */
    padding: 14px 25px; /* Збільшено на 20% */
    border-radius: 49px; /* Збільшено на 20% */
    font-size: 19.2px; /* Збільшено на 20% */
    font-weight: 600;
    cursor: pointer;
  }
