.sub-text{

}

.sub-text{
    @apply text-[#9C9C97]
}

.booktype-btn{
    @apply bg-none text-[#1A1D23] py-2.5 px-[30px] font-medium cursor-pointer;
    border: 1px solid #1A1D23;
    border-radius: 10px;
}

.active{
    @apply bg-[#FF642E];
    border-color: #FF642E;
}

.option{
    @apply bg-none py-[15px] px-[30px] w-fit cursor-pointer;
    border: 1px solid #1A1D23;
    border-radius: 10px;
}

.grayed{
    @apply bg-[#DEDBD1]
}

.information-row{
    @apply flex justify-between font-medium mb-5;
    border-bottom: 1px solid #9C9C97;
}

.row-title{
    @apply font-semibold text-2xl;
}

.row{
    @apply flex flex-col gap-5;
}

.feedback-btn{
    @apply bg-[#1A1D23] py-6 px-52 text-white;
    border-radius: 48px;
}

.buy-container{
    @apply flex flex-col w-[320px] h-72 rounded-[30px] bg-[#1A1D23] py-10 px-[30px] text-white gap-[31px];
}

.buy-header{
    @apply font-bold;
}

.btn-cart{
    @apply rounded-[30px] flex py-3 px-[60px];
    border: 1px solid white;
    font-size: 13px;
    line-height: 16px;
}

.btn-buy{
    @apply rounded-[30px] flex py-3 px-[81px] bg-[#FF642E] text-[#1A1D23];
    border: 1px solid #1A1D23;
    font-size: 13px;
    line-height: 16px;
}