.catalog-container{
    @apply flex gap-4 px-16 py-4;
}

.options-panel{
    @apply flex flex-col w-1/6 h-dvh bg-[#1A1D23] text-white py-9 px-6;
    border-radius: 30px;
    gap: 30px;
}

.options-container{
    @apply flex flex-col;
    gap: 21px;
}

.books-panel{
    @apply flex flex-col w-5/6 h-dvh;
    border: 1px solid #1A1D23;
    border-radius: 30px;
    padding: 30px 62px;
    gap: 30px
}

.books-counter{
    @apply font-bold;
    font-size: 22px;
    line-height: 16px;
}

.load-btn{
    @apply bg-[#1A1D23] font-bold px-20 py-6 text-white;
    border-radius: 46px;
}

.books-panel-main{
    @apply flex gap-5;
}

.books-panel-footer{
    @apply flex flex-col items-center py-9;
}


.books-panel-header{
    @apply flex justify-between;
}