
.admin-container{   
    @apply flex h-dvh;
}

.admin-sidebar{
    @apply p-5 shrink-0 font-semibold text-white leading-none h-dvh;
    min-width: 250px;
    background-color: #1A1D23;
}

.admin-sidebar nav {
    @apply flex flex-col flex-1;
    height: 100%;
}

.admin-nav-list{
    @apply flex flex-col p-0 m-0 list-none;
    gap: 21px;
}

.link{
    @apply flex items-center rounded-lg gap-2.5 p-2.5;
}

.link a{
    @apply block text-start content-start mr-auto;
}

.logout-item{
    @apply mt-auto;
}
.active-link{
    background-color: #FF642E;
    color: #1A1D23;
}

.logo-container{
    @apply flex justify-center;
}
