.dim{
    @apply fixed inset-0 z-20 bg-black opacity-0 pointer-events-none;
    transition: all 0.4s;
}

.dim.visible{
    @apply opacity-80 pointer-events-auto;
}

.cart-panel{
    @apply z-30 h-dvh bg-[#F4F0E5] fixed top-0 transition-all duration-500 ease-in-out text-white;
    width: 445px;
}

.cart-main{
    @apply flex flex-col gap-5 overflow-scroll;
    padding: 30px;
    height: 60%;
}

.cart-footer{
    @apply flex flex-col p-[30px] bg-[#1A1D23] h-[23%] gap-2.5;
}

.close-icon{
    @apply top-[32px] right-[38px] absolute cursor-pointer;
}

.checkout-btn{
    @apply text-[#1A1D23] bg-[#FF642E] py-3.5 px-20 w-full;
    border-radius: 44px;
}

.cart-counter-container{
    @apply absolute -right-2 -bottom-1 h-5 w-5 bg-[#FF642E] rounded-full text-white text-center font-semibold;
    font-size: 12px;
}