.dashboard-container {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f4f0;
}

.main-content {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  min-height: 0;
}


.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 24px;
  border-bottom: 2px solid #000;
  flex-shrink: 0;
}

.dashboard-header input[type="text"] {
  width: 250px;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 14px;
}

.user-info {
  display: flex;
  font-weight: 500;
  font-size: 16px;
}


.dashboard-grid {
  display: flex;
  gap: 24px;
  flex-grow: 1;
  max-height: screen;
  overflow: hidden;  

}

.left-grid {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sales-chart {
  flex: 0 0 35%;
  background-color: #111826;
  padding: 20px;
  border-radius: 36px;
  color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sales-chart .recharts-responsive-container {
  flex-grow: 1;
  height: 100%;
  width: 100%;
}


.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-shrink: 0;
}

.time-filter {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 40px;
  border: 1px solid #f5f4f0;
  background-color: #111826;
  color: #f5f4f0;
  cursor: pointer;
}

.bottom-grid {
  flex: 0 0 30%;
  display: flex;
  gap: 20px;
}

.stat-box {
  flex: 1;
  padding: 20px;
  border-radius: 36px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stat-box h4 {
  font-size: 16px;
  margin-bottom: 8px;
}

.stat-box p {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

.listeners-box {
  background-color: #ffc107;
  color: black;
}


.new-users-box {
  background-color: #2c2c2c;
  color: white;
}


.top-sales {
  flex: 1; /* Allow it to flex and respect available space */
  min-width: 300px; /* Optional: prevent it from getting too small */
  max-width: 45%; /* Ensure it doesn't grow too wide */
  padding: 20px;
  border-radius: 36px;
  border: 1px solid black;
  display: flex; 
  flex-direction: column;
  overflow: hidden;
}

.top-sales h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;

}

.top-sales-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  overflow-y: auto;
}
.book-card {
  border-radius: 22px;
  overflow: hidden;
}

.book-card img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}