.form-container {
    @apply py-5 px-[60px] flex flex-col gap-6;
    background-color: #1A1D23;
}

.checkout-section {
    @apply flex flex-col bg-[#F4F0E5] p-10 gap-5;
    color: #1A1D23;
    border-radius: 30px;
}

.input-display {
    @apply rounded-lg p-2.5 flex items-center gap-1.5;
    border: 1px solid black;
    width: 100%;
}

.display-row {
    @apply flex flex-col gap-2 text-sm;
    color: #1A1D23;
    width: 45%;
}

.display-col {
    @apply flex flex-col gap-[15px];
    width: 100%;
}

.confirm-btn {
    @apply text-white px-20 bg-[#FF642E] font-semibold;
    font-size: 18px;
    line-height: 16px;
    padding-top: 22px;
    padding-bottom: 22px;
    border-radius: 46px;
}

.price-container {
    @apply flex flex-col gap-2 font-semibold text-[#FF642E] text-end;
}