.checkout-form {
    @apply flex flex-col;
    width: 70%;
    gap: 17px;
}

.input-container {
    @apply flex flex-col gap-1.5;
}

.checkout-input {
    background-color: #DEDBD1;
    @apply rounded-lg p-2.5;
}

.checkout-side {
    @apply flex flex-col;
    width: 30%;
    gap: 17px;
}

.radio-group {
    @apply flex gap-2.5 rounded-lg p-2.5 text-lg font-medium items-center transition-all;
    line-height: 130%;
    border: 1px solid #DEDBD1;
}

.radio-selected {
    background-color: #DEDBD1;
}