/*Temporary styles for barebone styling*/

.cardContainer{
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 8px;
    width: 10dvw;
    height: 25dvh;
    overflow: hidden;
}

.cardImage{
    object-fit: scale-down;
    width: 100%;
    height: 15dvh;
}