body{
    background-color: #F4F0E5;
}

.header-container{
    @apply flex items-center px-20 py-5 items-center;
    border-bottom: 1px solid black;
}

.main-container{
    @apply px-20 py-5 pb-0;
}

.counter{
    @apply font-semibold my-2.5 mx-0;
    color: #ff642e;
    margin-right:5%;
}

.add-button{
    @apply flex font-semibold items-center text-center rounded-lg my-0 mx-5 gap-3.5;
    padding: 5px 20px;
    background-color: #F5CB2E;
}