body{
    background-color: #F4F0E5;
}

.header-container{
    display: flex;
    border-bottom: 1px solid black;
    align-items: center;
    padding: 20px 80px;
}

.main-container{
    padding: 20px 80px;
    padding-bottom: 0;
}

.counter{
    color: #ff642e;
    font-weight: 600;
    margin: 10px 0;
    margin-right:5%;
}

.add-button{
    padding: 5px 20px;
    border-radius: 8px;
    margin: 0 20px;
    background-color: #F5CB2E;
    text-align: center;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 14px;
}