body{
    background-color: #F4F0E5;
}

.header-container{
    @apply flex items-center px-20 py-5 sticky top-0 bg-[#F4F0E5];
    border-bottom: 1px solid black;
}

.profile-icon{
    @apply flex ml-auto items-center;
}

.icon-container{
    @apply p-2.5 bg-dark;
    border-radius: 30px;
}

.icon-container-pfp{
    @apply p-2.5 bg-[#FF642E];
    border-radius: 30px;
}

.pagination-container{
    @apply float-right;
    padding: 0 5%;
}

.main-container{
    @apply px-20 py-5 pb-0;
}

.counter{
    @apply font-semibold my-2.5 mx-0 text-[#ff642e];
    margin-right:5%;
}

.add-button{
    @apply flex font-semibold items-center text-center rounded-lg 
    my-0 mx-5 gap-3.5 bg-[#F5CB2E] py-2 px-[30px];
}