body{
    background-color: #F4F0E5;
}

.header-container{
    display: flex;
    border-bottom: 1px solid black;
    align-items: center;
    padding: 20px 80px;
}

.main-container{
    padding: 20px 80px;
}

.counter{
    color: #ff642e;
    font-weight: 600;
    margin: 10px 0;
}