.search{
    @apply bg-transparent flex-1;
}

.search:focus{
    outline: none;
}

.search::placeholder{
    @apply opacity-100 text-black;
}

.search-container{
    @apply py-2 content-center text-black bg-[#F4F0E5] flex rounded-lg; 
    border: 1px solid #000000;
    min-width: 400px;
    padding-right: 30px;
    padding-left: 16px;
    gap:17px;
}
