.table-wrapper{
    @apply py-2.5 px-10;
    border-radius: 30px;
    border: 1px solid #7A7A7A;
}
table{
    @apply font-semibold overflow-hidden border-separate border-spacing-0 w-full;
}

th, td{
    @apply text-start text-[#1A1D23];
    padding: 15px;
    border-bottom: 1px solid #7A7A7A;
}

.table-header{
    @apply text-[#1A1D23];
    padding: 15px;
    border-bottom: 1px solid #7A7A7A;
}