.table-wrapper{
    @apply py-2.5 px-10;
    border-radius: 30px;
    border: 1px solid #7A7A7A;
}
table{
    @apply font-semibold overflow-hidden border-separate border-spacing-0 w-full;
}

tr>td{
    @apply cursor-pointer;
}

th, td{
    @apply text-start;
    padding: 15px;
    border-bottom: 1px solid #7A7A7A;
}
