.table-wrapper{
    border-radius: 30px;
    border: 1px solid #7A7A7A;
    padding: 10px 40px;
}
table{
    font-weight: 600;
    width: 100%;

    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
}

tr>td{
    cursor: pointer;
}

th, td{
    text-align: start;
    padding: 15px;
    border-bottom: 1px solid #7A7A7A;
}
